@charset "UTF-8";
.html {
    font-size: 62.5%;
}

.body {
    color: #333;
    font-size: 1.2rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

.navbar {
    box-shadow: 0 0 10px 1px orangered;
}

.navbar-nav {
    margin-left:30px;
}

.navbar-nav .nav-item {
    text-decoration: none;
    margin: 15px;
    font-weight: bolder;
    font-size: medium;
}

.navbar-nav .nav-item a {
    color: orangered;
}

/* Main Article Section */
.blockquote {
    color: #222222;
    font-size: medium;
}

.blockquote .text-break {

    line-height: 25pt;
    word-spacing: 1px;
}

.blockquote-footer {
    text-align: right;
}

/* Side Menu Bar*/
.sidemenu {
    color: #222222;
}

.main-events {
    margin: 10px 0px 5px -35px;
}

.main-events,
.main-events ul {
    list-style-type: none;
}

.main-events>li .title {
    border-left: 5px solid orangered;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    line-height: 1.5;
}

.main-events a:hover {
    text-decoration: underline;
}

.list-group .list-group-item {
    font-size: small;
    color: #222222;
}

/* Application Form */
#application-form {
    margin: 5px;
    text-align: center;
}

.btn {
    font-size: medium;
}

#application-form a {
    text-decoration: none;
    color: white;
}

/* Timer */
#timer-app {
    color:green;
}