.navbar {
    width: 100%;
    height: 62px;
    overflow: hidden;
    background-color: red;
}

.navbar-line-wrapper {
    height: 20px;
    background-color: blue;
    width: 100%;
}

.navbar-inner {
    width: 1200px;
    height: 60px;
    margin: 0px auto 0px auto;
    overflow: hidden;
    background-color: #ffdd11;
}

.navbar-col1 {
    width: 26%;
    float: left;
    height: 300px;
    background-color: green;
}

.navbar-col2 {
    width: 44%;
    margin-left: 2%;
    float: left;
    height: 100%;
    background-color: tomato;
}

.navbar-col3 {
    width: 26%;
    float:right;
    height: 100%;
    background-color: purple;
}

.navbar-button {
    width: 30%;
    margin-right: 1%;
    height: 100%;
    text-align: center;
    font-size: 1.2em;
    color: #ddd;
    float: left;
}