html {
  font-size: small;
}

#now {
  text-align: center;
  height: 26px;
}

.calendar_2021 {
  width: 970px;
  margin: 30px auto 40px;
}

#cal_month {
  color: green;
}

#cal_order_sun_heading, #cal_order_mon_heading, #cal_order_tues_heading, #cal_order_wed_heading, #cal_order_thurs_heading, #cal_order_fri_heading, #cal_order_sat_heading{
  color: blue;
}

#section-left {
    width: 220px;
    float:left;
    text-align: center;
    margin: 0px;
  }

#section-center {
    width: 220px;
    float: left;
    margin: 0px;
  }

#section-right {
    width: 220px;
    float: left;
    margin: 0px;
  }

table {
  width: 175px;
}

th, tr, td {
  border: 0.25px solid grey;
}

#cal-04, #cal-05, #cal-,
#cal_order_sun, #cal_order_mon, #cal_order_tues, #cal_order_wed, #cal_order_thurs, #cal_order_fri, #cal_order_sat {
    text-align: center;
  }
  
#cal_order_sun {
    color: red;
  }

#event_title {
  padding-top: 15px;
  background-color: #eee;
}

#event_title {
  font-size: large;
  color: orangered;
  text-align: center;
}

#month-4, #month-5, #month-6, #month-7, #month-8, #month-9, #month-10, #month-11, #month-12, #month-21, #month-22, #month-23 {
  font-size: medium;
  color: grey;
  text-align: justify;
}

#event_title ul {
  list-style:none;
}

#event_title ul li {
  padding-left: 0px;
}

#event_title ul li ul li{
  display: none;
  color: red;
}

#event_title ul li:hover ul li {
  display: flex;
}

hr {
  width: 0px;
  color: #eee;
}