#now {
  background-color: red;
  color:white;
  text-align: center;
  height: 75px;
  margin: auto;
  padding:5px;
}

.calendar_2021 {
  width: 970px;
  margin: 30px auto 40px;
}

#cal_month {
  color: green;
}

#cal_order_sun_heading, #cal_order_mon_heading, #cal_order_tues_heading, #cal_order_wed_heading, #cal_order_thurs_heading, #cal_order_fri_heading, #cal_order_sat_heading{
  color: blue;
}

#section-left {
    width: 220px;
    float:left;
    text-align: center;
    margin: 0px;
  }

#section-center {
    width: 220px;
    float: left;
    margin: 0px;
  }

#section-right {
    width: 220px;
    float: left;
    margin: 0px;
  }

table {
  width: 175px;
}

th, tr, td {
  border: 0.5px solid grey;
}

#cal-04, #cal-05, #cal-,
#cal_order_sun, #cal_order_mon, #cal_order_tues, #cal_order_wed, #cal_order_thurs, #cal_order_fri, #cal_order_sat {
    text-align: center;
  }
  
#cal_order_sun {
    color: red;
  }