@charset "UTF-8";

html {
  font-size:90%;
}

/* --------------------------------
 * header
 * -------------------------------- */
header {
  width: 100%;
  text-align: center;
  color: blue;
}

.navigation {
  margin: 15px;
  text-align: right;
  background-color: green;
}

.navigation .nav-bar {
  display: inline-block;
  margin: 0 10px;
  list-style: none;
}

.navigation .nav-bar a {
  display: inline-block;
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: 0.15s;
}

.navigation .nav-bar a:active,
.navigation .nav-bar a:hover {
  background-color: #d03c56;
  color: #fff;
}

article {
  width: 970px;
  margin: 30px auto 40px;
}

.clearfix {
  clear:both;
}

aside {
  display: block;
  float: left;
  width: 275px;
}

section {
  display: block;
  float: right;
  width: 660px;
}

table {
  column-width: auto;
  width: 650px;
}

th {
  height: 20px;
  background-color:green;
  color: white;
  text-align: center;
  border: 1px solid green;
}

td {
  vertical-align: bottom;
  height: 20px;
  border: 1px solid green;
}

#jdate {
  width: 125px;
  text-align: center;
}

#event {
  padding:0px 0px 0px 5px;
}

footer {
  width: 100%;
  border: 1px solid #aaa;
}
