@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}


/* --------------------------------
 * parts
 * -------------------------------- */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.hidden {
  display: none;
}


/* --------------------------------
 * header
 * -------------------------------- */
header {
  width: 100%;
  border: 1px solid #aaa;
}

nav {
  border: 1px solid #aaa;
}

#menu {
  
}

#menu li {
  list-style-type: none;
}

#menu li a {
  text-decoration: none;
}

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
  border: 1px solid #aaa;
}

section {
  display: block;
  float: left;
  width: 660px;
  border: 1px solid #aaa;
}

aside {
  float: right;
  width: 275px;
  border: 1px solid #aaa;
}

footer {
  width: 100%;
  border: 1px solid #aaa;
}
